page-forgotpwd {
	.content{
		background-image: url("../assets/imgs/reviewbg.png");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
			.img-wrapper{
				width: 100%;
				float: left;
				text-align: center;
				padding: 30px 0;

				img{
					width: 80px;
					margin: auto;
				}
			}
		h2{
			@extend .fontsize15px;
			width: 100%;
			float: left;
			text-align: center;
			margin: 0;
			color: #222222;
		}
		p{
			@extend .fontsize13px;
			color: #222222;
			width: 100%;
			float: left;
			text-align: center;
			margin: 10px 0 25px 0;
		}
		.content-sec{
			width: 100%;
			float: left;
			padding:0 10px;
			padding-top: 5px;

			.item{
				width: 100%;
				float: left;
				border: none !important;
				padding: 0;
				min-height: auto !important;
				background: transparent;
				margin: 5px 0;
				box-shadow: 0 2px 3px #cccccc;
				background-color: rgba(255,255,255,0.8);
			    border-radius: 5px;

				.item-inner{
					padding-right: 0;
					border: none !important;
					

					ion-input{
						@extend .inputsize;
						padding-left: 15px;

						.text-input{
							margin: 11px 0px
						}
					}
				}
			}
			.btn1{
				margin-top: 20px;
			}
		}
	}
}
