page-checkstatus {
	.content{
		background-image: url("../assets/imgs/reviewbg.png");
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
		.img-sec{
			width: 100%;
			float: left;
			text-align: center;
			margin-top: 5vh;

			img{
				width: 65px;
				margin: auto;
			}
		}
		h2{
			font-size: 15px;
			color: 1e1e1e;
			font-weight: 400;
			width: 100%;
			float: left;
			text-align: center;
			margin: 3vh 0;
		}
		.btn1{
			    margin-top: 10vh;



		}
	}
}
