page-home {
    .gmnoprint.gm-style-cc {
    display: none !important;
    }
    .gm-style-cc {
         display: none !important;
    }
    .gmnoprint{
        
        margin: 5px;
        z-index: 10;
        position: absolute;
        top: 81px !important; 
   left: 15px !important; 
   right: unset !important;
bottom: unset !important;
    }
    .gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom{
/*        bottom: 69px !important;
        right: 26px !important;*/
        .gmnoprint{
            left: -5px !important;
            top: 25px !important;
            bottom: unset !important;
            right: unset !important;
            margin: unset !important;
            z-index: unset !important;
        }
    }
        #map{
    height: 100%;
    width:100%;
}
.gm-style-iw{
        font-weight: 700 !important;
}
	.header{
		background-image: url('../assets/imgs/headerbg.png');
                background-size: cover;
                background-position: bottom center;
                background-repeat: no-repeat;
		.toolbar-background {
		 	background: transparent;
		}
                .searchout{
                    width: 100%;
                    float:left;
                    position:relative;
                    .suggestion{
                        position: absolute;
                        width: 93%;
                        margin: auto;
                        top: 36px;
                        left: 0;
                        right: 0;
                        border-radius: 5px;
                        background-color: #fff;
                        
                        .item{
                            background: transparent;
                            border-bottom: 1px solid #cccccc;
                            border-top: none !important;
                            height: 35px;
                            min-height: auto;
                            
                            .item-inner{
                                border: none !important;
                                
                                .label{
                                    font-size: 14px;
                                    color: #494949;
                                    font-weight: 400;
                                }
                            }
                        }
                        .item:last-child{
                            border-bottom: none;
                        }
                    }
                    .search{
                        padding: 0;
                        width: 93%;
                        margin: auto;
                        float: none;
                        border-radius: 5px;
                        min-height: auto;
                        height: 35px;
                        border: none !important;
                        margin-bottom: 10px;
                        padding-left: 10px;

                        .item-inner{
                            border-bottom: none !important;
                            padding-right: 0;
                        }
                        img{
                            width: 20px;
                            z-index: 9999;
                            margin: 0;
                            padding: 8px;
                            width: 33px;
                        }
                        .text-input{
                            font-size: 14px;
                                color: #494949;
                                font-weight: 400;
                        }
                    }
                }
		
	}
	.mapouter{
        width: 100%;
        height: 100%;
        overflow: hidden;

        iframe{
	        width: 100%;
	        height: 100vh;
    	}
    	.default-card {
		    display: none;
		}
		.place-card.place-card-medium{
			display: none !important;
		}
    }
    .serch-sec{
    	position: absolute;
	    top: 15px;
	    width: calc(100% - 32px);
	    margin: auto;
	    left: 0;
	    right: 0;
	    border-radius: 5px;
	    overflow: hidden;
	    box-shadow: 0px 0px 6px #cecdcd;
	    background-color: #fff;

	    .item{
	    	background: transparent;
	    	padding: 0 10px;
	    	height: 33px;
    		min-height: auto;
    		.item-cover{
/*    			width: fit-content !important;*/
    		}
	    	.item-inner{
	    		padding-right: 0;
	    		.label{
	    			color: #4c4c4b;
	    			font-size: 11px;
	    			font-weight: 400;
	    		}
	    		.srchbtn{
	    			position: absolute;
	    			right: 5px;
	    			top: 0;
				    font-size: 13px;
				    bottom: 0;
				    margin: 0;
				    line-height: 19px;
				    padding: 8px 7px 8px 11px;
				    border-left: 1px solid #e5e5e5;
	    		}
	    		ion-datetime{
	    			padding-right: 0 !important;
	    		}
	    		.select-text{
	    			font-size: 11px;
				    line-height: 19px;
				    font-weight: 400;
				    font-weight: 400;
	    		}
	    		.datetime-text{
	    			font-size: 11px;
				    font-weight: 400;
				    font-weight: 400;
				    line-height: 19px;
	    		}
	    	}
                .serchicon{
                    position: absolute;
                    right: 0px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    height: fit-content;
                    font-size: 17px;
                    line-height: 31px;
                    padding: 0 10px;
                    border-left: 1px solid #e5e5e5;
                }
	    }
	    .time{
	    		width: 50%;
    			float: left;
	    }
    }
    .place{
    	position: absolute;
	    bottom: 15px;
	    width: calc(100% - 32px);
	    margin: auto;
	    left: 0;
	    right: 0;
	    border-radius: 5px;
	    overflow: hidden;
	    box-shadow: 0px 0px 6px #cecdcd;
	    background-color: #fff;

	    .list{
	    	margin: 0;
	    }
	    .item{
	    	align-items: start;

	    	ion-thumbnail {
			    min-width: 65px !important;
			    min-height: 65px !important;

			    img{
			    	width: 65px !important;
			    	height: 65px !important;
			    	border-radius: 5px;
			    }
			}
			.label{
				margin-top: 8px;
				h2{@extend .fontsize15px}
	    		p{@extend .fontsize13px;}
	    		.button{
	    			margin: 2px 0;
				    font-size: 13px;
				    text-transform: uppercase;
				    border: 5px;
				    box-shadow: none;
				    letter-spacing: 0.5px;
	    		}
	    		.rating{
	    			width: fit-content;
	    			float: left;
	    			padding-right: 6px;
	    		}
	    		ul{
	    			padding: 0;
	    			list-style-type: none;
	    			margin: 0;

	    			li{
	    				display: inline-block;
	    			}
	    		}

			}
	    }
	    
    }
   
}
 gm-style-iw{
        div{
            line-height: 25px;
        }
    }
