<!--
  Generated template for the EditcarinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="theme-header">
  	<button ion-button menuToggle>
      <ion-icon><img class="menuicon" src="assets/imgs/menuicon.png"></ion-icon>
    </button>
    <ion-title>Edit car information</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<form #editcarform="ngForm" name='editcarform' novalidate (submit)="Editcar(editcarform)">
	<div class="top-sec">
		<img  *ngIf="carpic == '' " src="assets/imgs/carinfo.png">
                 <img  *ngIf="carpic" [src]="carpic" >
		<button ion-button color="theme-header" type="button" (click)="carpicupload()">Add</button>
	</div>
	<div class="content-sec" padding>
		<ion-list no-lines>

		 <ion-item>
		    <ion-label fixed>Car Make</ion-label>
		    <ion-input type="text" [(ngModel)]="data.carmake" name="carmake" #carmake="ngModel" placeholder="i20 Hyundai" required></ion-input>
		  </ion-item>

		  <ion-item>
		    <ion-label fixed>Model</ion-label>
		    <ion-input type="text" [(ngModel)]="data.model" name="model" #model="ngModel" placeholder="elite" required></ion-input>
		  </ion-item>

		  <ion-item>
		    <ion-label fixed>Year</ion-label>
		    <!--<ion-input type="text" [(ngModel)]="data.year" name="year" #year="ngModel" required></ion-input>-->
                     <ion-datetime placeholder="2018" displayFormat="YYYY" pickerFormat="YYYY" max="{{date}}" min="1950" [(ngModel)]="data.year"  name="year" #year="ngModel" ></ion-datetime>
		  </ion-item>
                     <ion-item>
		    <ion-label fixed>Color</ion-label>
		    <ion-input type="text" [(ngModel)]="data.color" name="color" #color="ngModel" placeholder="blue" required></ion-input>
		  </ion-item>

		  <ion-item>
		    <ion-label fixed>License Plate</ion-label>
		    <ion-input type="text" [(ngModel)]="data.licence" name="licence" #licence="ngModel" placeholder="U.k#12Q1007" required></ion-input>
		  </ion-item>


		</ion-list>
		<button ion-button class="btn1" block color="theme-header" type="submit" [disabled]='!editcarform.valid'>Submit</button>
	</div>
        
          </form>
</ion-content>
