<!--
  Generated template for the BillinginformationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color="theme-header">
		<button ion-button menuToggle>
			<ion-icon>
				<img class="menuicon" src="assets/imgs/menuicon.png">
			</ion-icon>
		</button>
		<ion-title>Payment</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<h2 style="margin-top: -3px !important;">Accepting Card Types</h2>
	<div class="img-sec">
		<img src="assets/imgs/visa.png">
		<img src="assets/imgs/mstrcrd.png">
	</div>
	<h2>Select your card</h2>
	<ion-list no-lines radio-group>
		<span *ngFor="let data of Userdata">
			<ion-item *ngIf="show == 1">
				<ion-thumbnail item-start>
					<img src="assets/imgs/mstrcrd.png">
				</ion-thumbnail>
				<ion-label>
					<h2>{{data.card_holder_name}}</h2>
					<p>Card no: {{data.card_number}} </p>
					<p>Expired: {{data.expiration_date}}</p>
				</ion-label>
				<ion-radio (click)="choose(data)"></ion-radio>
				<!-- <div class="action">
	    	<span><img src="assets/imgs/edit.png" (click)="choose(data)"></span>
			</div> -->
	
		</ion-item>
	</span>
	</ion-list>
	<div class="btn-sec">
		<button ion-button color="theme-header" (click)="addpayment()">Add new</button>
	</div>
	<!-- <span>
		<ion-icon name="add" (click)="addpayment()">Add new</ion-icon>
	</span> -->

	<div *ngIf="blurr == true" class="overlay"></div>
</ion-content>
<ion-footer *ngIf="show == 1">
	<ion-toolbar>		
			<button ion-button color="theme-header" class="btn2" full (click)="paymentfinal()">Pay</button>
	</ion-toolbar>
</ion-footer>