<!--
  Generated template for the SigninPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header hidden>

  <ion-navbar>
    <ion-title>signin</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div class="content-sec">

		<div class="img-wrapper">
      <h4 (click)="getstarted()"> <ion-icon name="arrow-back" ></ion-icon>GetStarted</h4>
			<img src="assets/imgs/logonew.png">
		</div>
    <form class="loginfrm" #LoginForm="ngForm" novalidate (submit)="Login(LoginForm)" >
			<ion-list>

			  <ion-item>
			    <ion-input type="text" autocapitalize=off placeholder="E-mail" [(ngModel)]="data.email" name="email" #email="ngModel" pattern="^[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{1,63})$" required></ion-input>
			  </ion-item>
        <div class="alert alert-danger red" color="danger">
            <div *ngIf="email.errors && (email.dirty || email.touched)">
              <div [hidden]="!email.errors.required">
                Email is required
              </div>
              <div [hidden]="!email.errors.pattern">
                Invalid email
              </div>
            </div>
         </div>
			  <ion-item>
          <ion-icon name="{{iconname}}"  (click)="showPassword()" item-end class="eyeshow"></ion-icon>
			    <ion-input type="{{ptype}}" placeholder="Password" [(ngModel)]="data.password" name="password" #password="ngModel"  required></ion-input>
			  </ion-item>
        <div class="alert alert-danger red" color="danger">
            <div *ngIf="password.errors && (password.dirty || password.touched)">
             <div [hidden]="!password.errors.required">
               Password is required
              </div>
               <!-- <div [hidden]="!password.errors.minlength">
              Password must be at least 6 digits
               </div> -->
           </div></div>
			</ion-list>
			<div class="forgot">
				<h2 (click)="forgot()">Forgot Password?</h2>
			</div>
			<div class="btnsec">
				<button ion-button block color="theme-header" class="btn1" type="submit" [disabled]="!LoginForm.valid">Sign in</button>
				<button ion-button block class="btn1 fb" type='button' (click)="Facebooklogin()">Login with Facebook</button>
			</div>
		</form>
		<div class="signup">
			<h2 style="font-size: 14px; font-weight: 400; margin-bottom: 6px;">Don't have an account?</h2>
                        <h2><span (click)="signup()">Sign up</span></h2>
		</div>
	</div>
</ion-content>
